*{
    font-family: 'Century Gothic', sans-serif;
  }

  /* Estilos previos... */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }

  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }

  body {
    margin: 0; /* Elimina el margen predeterminado del cuerpo del documento */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo del documento */

  }

  .carta-container {
    max-width: auto;
    margin: 5px auto;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    filter: blur(-10px);
  }

  .carta-header {
    background-color: #009688;
    color: #ffffff;
    padding: 5px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .carta-body {
    padding: 20px;
    text-align: justify;
    white-space: pre-line; /* Mantiene los saltos de línea y espacios */
    /*font-family: 'Century Gothic', sans-serif;  Asegura que se use una fuente legible */
    line-height: 1; /* Espaciado entre líneas */
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
  }

  .carta-footer {
    text-align: center;
    padding: 10px;
    background-color: #009688;
    color: #ffffff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }
  div #asunto{
    font-weight: 600;
  }

  #asunto, #carta-content{
    margin-top: -1.8em;
  }

  th, td{
    border: ;
  }

  .title{
    padding: 20px 0;
  }

  .centrar{
    padding: 0 280px;
  }

  .flotar{
    padding: 0 30px;
  }
